header.page-header {
  position: relative;
  z-index: $zindex-sticky;

  .navbar-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &.bg-dark {
      @include media-breakpoint-up(md) {
        background-color: rgba(color('gray-dark'), .8) !important;
      }
    }
  }
}
