.carousel-item {
  min-height: 400px;
}

.carousel-caption {
  background: rgba($black, .5);

  h3 {
    display: none;
  }
}

.carousel-control-next,
.carousel-control-prev {
  @include hover-focus {
    // background: rgba($black, .1);
    cursor: pointer;

    @include transition($transition-base);
  };
}

.carousel-indicators .active {
  background-color: theme-color("primary");
}
