.carousel-item {
  background: url('./../../images/loading.svg') center center no-repeat;
  min-height: 400px;

  @include transition($transition-base);

  img {
    opacity: 0;

    @include transition($transition-base);
  }

  &[data-is-loaded="true"] {
    img {
      opacity: 1;
    }
  }
}

.carousel-caption {
  background: rgba($black, .5);

  h3 {
    display: none;
  }
}

.carousel-control-next,
.carousel-control-prev {
  @include hover-focus {
    // background: rgba($black, .1);
    cursor: pointer;

    @include transition($transition-base);
  };
}

.carousel-indicators .active {
  background-color: theme-color("primary");
}
