$sk-size: 12rem;
.skill-item {
  height: $sk-size;
  width: $sk-size;
  background: none;
  position: relative;
  text-align: center;
  margin: 0 auto;

  svg {
    height: $sk-size;
    width: $sk-size;
    position: absolute;
    left: 50%;
    margin-left: -50%;

    transform: rotate(90deg);

    @include transition($transition-base);

    path {
      stroke: theme-color("primary");
      fill: none;

      @include transition($transition-base);
    }
  }

  h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
    font-weight: $font-weight-light;
    position: relative;
    z-index: 1;

    @include transition($transition-base);
  }

  .card-body {
    align-self: center;
    align-items: center;
    display: flex;
    padding: 1rem 1.5rem;
  }

  @include hover-focus {
    svg {
      path {
        fill: theme-color("primary");
      }
    }

    h4 {
      color: $black;
    }
  }
}
