header.page-header {
  position: relative; }
  header.page-header .navbar-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    header.page-header .navbar-header.bg-dark {
      background-color: rgba(52, 58, 64, 0.7) !important; }

footer.page-footer {
  background: #e9ecef; }

main.page-main {
  overflow: auto; }

.home-content {
  text-align: center; }
  .home-content .jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 30rem;
    border-radius: 0; }
    .home-content .jumbotron .wrapper-title {
      background-color: rgba(52, 58, 64, 0.75);
      color: #fff;
      max-width: 50rem;
      margin: 0	auto;
      padding: 1rem 3rem;
      border-radius: 0.25rem; }
