footer.page-footer {
  background: #e9ecef; }

main.page-main {
  overflow: auto; }

.home-content {
  text-align: center; }
  .home-content .top-content {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white; }
    .home-content .top-content .content-logo {
      animation: content-logo-spin infinite 20s linear;
      height: 80px; }

@keyframes content-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
