// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

$primary: #f18c1d; //#61dafb;
$primary-dark: darken($primary, 40%);
$body-bg: #20303E;
$theme-colors: (
  "primary": $primary,
  "primary-dark": $primary-dark,
  "body-bg": $body-bg
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-shadows:            true;
// $enable-rounded:            false;

// Fonts
//

$font-family-sans-serif:      Oswald, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

//
// Montserrat weight map:

// $font-weight-thin: 			  100;
// $font-weight-extra-light: 200;
// $font-weight-light: 		  300;
$font-weight-regular: 		400;
$font-weight-normal: 		  $font-weight-regular;
// $font-weight-medium: 		  500;
// $font-weight-semi-bold: 	600;
$font-weight-bold: 			  700;
// $font-weight-extra-bold: 	800;
// $font-weight-black: 		  900;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   .75rem;

// Tooltips

$tooltip-max-width:     300px;
$tooltip-bg:            $primary-dark;
$tooltip-padding-y:     6px;
$tooltip-padding-x:     12px;
$tooltip-margin:        1rem 0 0 0;
