.home-content {
	text-align: center;

	$hTop: 30rem;
	.jumbotron {
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
		height: $hTop;

		@include border-radius(0);

		.wrapper-title {
			background-color: rgba(color("gray-dark"), .75);
			color: $white;
			max-width: 50rem;
			margin: 0	auto;
			padding: 1rem 3rem;

			@include border-radius($border-radius);
		}
	}
}
